<div class="col-xs-10 col-xs-offset-1 about">
    <h1>About Splurty</h1>

    <p>
     This version of splurty was build by  <a target="_blank" href="http://github.com/wael-ali">WAEL Ali</a> by the help from the firehoseproject mentors,
    </p>

    <br>
    <br>

    <p>
      If you want to learn how to code - start <a href="http://www.thefirehoseproject.com/" target="_blank">here</a>
    </p>

    <div class="col-xs-12 col-sm-4" style="padding-top: 30px; padding-bottom: 30px; ">
      <%= image_tag 'wael.jpg', class: 'img-responsive' %>
    </div>
    <div class="col-xs-12 col-sm-7 col-sm-offset-1">
      <h2 class="text-center">wael ali</h2>
      <br>
      <p>wael ali is a new web developer involved in the firehose project, I want in the future to get my ideas to reality 
      </p>
    </div>




    <br class="clear">
</div>
</div>
</div>


<br clear="clear">
<br>
<br>
<br>
<br>