<div class="jumbotron">
  <h1>Wellcome To, Words!</h1>
  <p>...</p>
    <p>
    <%= link_to 'Go to Words', words_path, title: "Navigate to Codes", class: "btn btn-primary btn-lg"%>
  </p>
</div>

<div class="jumbotron">
  <h1>Wellcome To, Codes!</h1>
  <p>...</p>
  <p>
    <%= link_to 'Go to Codes', codes_path, title: "Navigate to Codes", class: "btn btn-primary btn-lg"%>
  </p>
</div>