@import "bootstrap-sprockets";
@import "bootstrap";


body {
  background-color: rgba(235, 243, 242, 0.993);
}
.clear{
  clear:both;
}
.my_headline_font_size{
  font-size: 75px
}
.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background-color: rgb(21, 189, 180);
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(11deg);
    -ms-transform:rotate(11deg); /* IE 9 */
    -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

.slogan{ 
font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
font-style: italic;
padding-top: 26px;
}

.links  {
  padding-top: 26px;
} 

/*
a {
  color: black;
  font-size:25px;
  border-bottom: 2px solid #dfdfdf;
  font-family: "kaushan_scriptregular" , sans-serif;
}
*/

header{
  border-top: 9px solid #222222;
  border-bottom: 1px solid #fff;
}
hr{
  clear:both;

}
h1{
  font-family: "kaushan_scriptregular", sans-serif;
  font-weight: bold; 
  
  
}
h2{
  font-family: "kaushan_scriptregular", sans-serif;
  
}

.next-quote{
  color: pink;
  font-family: 'kaushan_scriptregular', sans-serif;
  font-size: 20px;
}
.footer-blurb{
   font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  text-align: right;
  font-size: 14px;

}
.about{
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;

}
.logo:hover {
  text-decoration: none;

}

@media (max-width: 750px){
  .footer-blurb{
    text-align: left;
  }
}
.model{

    font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}





h2 span{
  font-family: "kaushan_scriptregular", sans-serif;
  font-weight: bold; 
  font-size: 48px;
  
  color: #dddddd;
  
}

::selection {
  background-color: #f84342;
}




/* Code Styles */
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;}
  
  code {
  font-family: Courier, 'New Courier', monospace;
  font-size: 12px;}
  
  #codeStyler {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 1em 0;}
  
  .computerGreen {
  background-color: #000000;
  color: green;}