   <div class="footer">
      <div class="container">
          <div class="col-xs-12 col-sm-6">
             <%= link_to "This isn't enough, I need more",root_path, class: 'next-quote' %>
          </div>
      </div>
   </div>