<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="Words-Book" src="...">
      </a>
    </div>

    <div class="navbar-left">
      <form  class="navbar-form" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search is not working yet!!">
        </div>
        <button type="submit" title="Not ready yet!!" class=" btn btn-default glyphicon glyphicon-search"></button>
      </form>
    </div>

    <div class="navbar-right">
        <%= render 'layouts/nav_dropdown', class: "navbar-left" %>
        <!-- <%= link_to "new qoute", new_quote_path(), class: "btn btn-default navbar-btn" %> -->
        <%= link_to "Sign in", '#', title: "Not Ready Yet!!", class: "btn btn-default navbar-btn" %>
    </div>
  </div>
</nav>
