<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Words-Book" src="...">
      </a>
    </div>

    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search is not working yet!!">
      </div>
      <button type="submit" class=" btn btn-default glyphicon glyphicon-search"></button>
    </form>

    <div class="navbar-right">
        <%= link_to "Sign in", '#', class: "btn btn-default navbar-btn" %>
        <%= link_to "Words list", words_path(), class: "btn btn-default navbar-btn" %>
    </div>
  </div>
</nav>
