<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Contribute your quote</h4>
      </div>
      <div class="modal-body">

      <%= simple_form_for Quote.new do |f| %>
        <%= f.input :saying, label: "what is the saying you want to add ?", placeholder: "Fear is the disease, Hustle is the antidote." %>
        <br>
        <br>
        <%= f.input :auther, label: "Who is the auther of the Quote ?", placeholder: "Travis Kalanik" %>
        <br>
        <%= f.submit 'Add Quote', class:'btn btn-danger'  %>
      <%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
