  <!-- Split button -->
<div class="btn-group">
  <button type="button" title="Go To ..." class="btn btn-default">Go To:</button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
      
    <li><%= link_to "Words list", '#', class: "" %></li>
    <li><%= link_to "Codes list", '#', class: "" %></li>
    <li><a href="#">Something else here</a></li>
    <!-- 
    <li role="separator" class="divider"></li>
    --> 
    <li><a href="#">Separated link</a></li>
  </ul>
</div>