  <!DOCTYPE html>
  <html>
  <head>
    <title>Splurty</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


  </head>

  <body>
  <header>
  <div class="col-xs-3">

  <div class="circle">
  <br />
  You know
  <br />
  you need
  <br />
  to code
  </div>
    
  </div>

  <div class="col-xs-4 slogan">
    Splurting out unsolicited advice about entrepreneurship since 2016
  </div>

  <div class="col-xs-5 links ">
  <a href="#">'Contribute'</a> 
  <a href="#">'About'</a>  
  </div>
    
  </header>
  <hr/>
  <br class="clear" />
    <%= yield %>
  </body>
  </html>
